#player {
    background-color: #df151d;
    width: 100%;
}

#player {
    display: none;
}
#advanced-search-box li {
    display: block;
    float: left;
    width: 33%;
}

#audio-player-box {
    background-color: #df151d;
}

#controls-box {
    background-color: #000000;
}
#controls-box input {
    border: none;
}

#play-button {
    content: url("../ui-images/button-play.png");
}

#pause-button {
    content: url("../ui-images/button-pause.png");
}

#next-button {
    content: url("../ui-images/button-next.png");
}

#previous-button {
    content: url("../ui-images/button-previous.png");
}

.controls {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border: none;
    margin-right: 5px;
}

#music-button-box {
    width: 290px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

#time-slider {
    background-color: #df151d;
    margin-top: 10px;
    width: 100%;
}

#elapsed-time {
    color: #ffffff;
}