body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#container {
    width: 100%;
}

#header {
    height: 100%;
    width: 100%;
    background-color: #1dc116;
}

nav {
    width: 100%;
    min-height: 40px;

}

nav ul {
    padding: 0;
    margin-bottom: 0 auto;
    width: 100%;
    height: 100%;

    text-align: center;
}

nav ul li {
    height: 30px;
    border-bottom: 1px solid black;
    padding-top: 5px;

}

#nav-list {
    display: none;
    height: 100%;
    background-color: #ebe6e4;
}

#pull {
    background-image: url("https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png");
}

#pull img {
    height: 35px;
}

#pull-menu {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#pull img:hover, #pull img:active {
    background-color: #993a98;
}

#searchfield {
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    background-color: #f6f6f6;
}

#search-button {
    width: 6rem;
}

#search-input {
    color: #000000;
}

#sidebar-box ul li {
    border: 1px solid black;
    min-height: 3rem;
    font-size: 1.5rem;
    padding-top: 12px;
    padding-left: 3px;
    background-color: #555555;
}

#sidebar-box ul {
}

.arrow-image {
    max-height: 2.2rem;
    float: right;
    padding-right: 20px;

}

div.fullWidth {
    width: 100%;
}
