#ev-box {
    right: 0;
}

#task-number {

}

label {
    color: #f5f5f5;
    font-size: 0.5rem;
}

#ev-button, #task-success, #task-fail {
    height: 35px;
    font-size: 0.5rem;
    z-index: 10;
}

#task-success, #task-fail {
    display: none;
    position: absolute;
}

.full-width {
    max-width: 100% !important;
}