body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#container {
    margin: 0 auto;
    width: 960px;
    background-color: #1dc116;
}

#pull-menu {
    display: none;
}
#sidebar {
    float: none;
    display: table-cell;
    vertical-align: top;
    background-color: #555555;
    max-width: 20%;
    height: 100%;
}

#content {
    float: none;
    max-width: 80%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}
#info-content{
    display: block;
}

div.fullWidth {
    width: 100%;
}