body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#container {
    width: 100%;
    background-color: blue;
}
#content{
 float: left;
    width: 100%;
}
#pull-menu {
    display: none;
}
#sidebar-box{
    float: left;
    background-color: #555555;
    width: 200px;
}
.arrow-image {
    max-height: 2.2rem;
    float: right;
    padding-right: 20px;

}